.page-na-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.not-av-pic img{
    width: 500px;
    margin-top: 2rem;
}

.pna-link-home {
    background-color: #385A64;
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.pna-link-home:hover {
    color: #fff;
    background-color: #557b87;
}
