.same-line {
    display: flex;
    width: 100%;
    /* background-color: rgb(161, 29, 29); */
}

Form {
    background-color: rgb(255, 255, 255);

}

.main-container {
    margin: 50px 0px 50px 0px;
    
}

.vaccine-registration-main-container {
    display: flex;
    flex-direction:column;
    /* align-items: center; */
}

.reg-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.reg-heading h1 {
    font-size: 4rem;
}

.submit-btn-vaccine-reg {
    /* font-size: 2rem; */
    height: 3.8rem;
    width: 28rem;
    border-radius: 5px;
    background-color: #ff002f;
    border: none;
    margin: 1.5rem 0rem 1.5rem 0rem;
}

.submit-btn-vaccine-reg:hover {
    background-color: #ff395d;
    border: none;
}

.vaccine-reg-input {
    font-size: 1.5rem;
    /* font-weight: ; */
    margin-bottom: 1.2rem;
}

.vaccine-gender-checkb {
    font-size: 1.5rem;
    color: grey;
    margin-top: 5px;
}